<br /><br />
<div class="container">

<div class="row">
  <div class="two columns offset-by-ten"><div class="navi">
  <!-- <div class="shariff"></div> -->
  <a href="FAQ.html">FAQ</a> | <a href="legal_privacy.html">Legal&Privacy</a>
</div></div></div>

<div class="row"><div class="sixteen columns">
  <h1>What made you smile today?</h1>
</div></div>

<div class="row"><div class="sixteen columns" align="center">
    <%= form_for :smile, :url => {:controller => "smiles"} do |f| %>
            <!-- <%= f.label "Your smile" %><br> -->
            <p id="notice" class="notice"><%= notice %></p>
            <%= f.text_area :smiletext, placeholder:"Share your smile", :onkeyup => "countChar(this)" %>
            <div id="charNum" class="char_count">500</div>
</div></div>

<div class="row">
  <div class="four columns">&nbsp;
  </div>
  <div class="four columns" align="center">
            <%= f.text_field :username, placeholder:"Your name (optional)" %>
  </div>

  <div class="four columns" align="center">
            <%= f.select(:country, ['Your country (optional)','Afghanistan',
'Albania',
'Andorra',
'Angola',
'Antigua & Deps',
'Argentina',
'Armenia',
'Australia',
'Austria',
'Azerbaijan',
'Bahamas',
'Bahrain',
'Bangladesh',
'Barbados',
'Belarus',
'Belgium',
'Belize',
'Benin',
'Bhutan',
'Bolivia',
'Bosnia Herzegovina',
'Botswana',
'Brazil',
'Brunei',
'Bulgaria',
'Burkina',
'Burundi',
'Cambodia',
'Cameroon',
'Canada',
'Cape Verde',
'Central African Rep',
'Chad',
'Chile',
'China',
'Colombia',
'Comoros',
'Congo',
'Congo (Democratic Rep)',
'Costa Rica',
'Croatia',
'Cuba',
'Cyprus',
'Czech Republic',
'Denmark',
'Djibouti',
'Dominica',
'Dominican Republic',
'East Timor',
'Ecuador',
'Egypt',
'El Salvador',
'Equatorial Guinea',
'Eritrea',
'Estonia',
'Ethiopia',
'Fiji',
'Finland',
'France',
'Gabon',
'Gambia',
'Georgia',
'Germany',
'Ghana',
'Greece',
'Grenada',
'Guatemala',
'Guinea',
'Guinea-Bissau',
'Guyana',
'Haiti',
'Honduras',
'Hungary',
'Iceland',
'Indonesia',
'Iran',
'Iraq',
'Ireland (Republic)',
'Israel',
'Italy',
'Ivory Coast',
'Jamaica',
'Japan',
'Jordan',
'Kazakhstan',
'Kenya',
'Kiribati',
'Korea North',
'Korea South',
'Kosovo',
'Kuwait',
'Kyrgyzstan',
'Laos',
'Latvia',
'Lebanon',
'Lesotho',
'Liberia',
'Libya',
'Liechtenstein',
'Lithuania',
'Luxembourg',
'Macedonia',
'Madagascar',
'Malawi',
'Malaysia',
'Maldives',
'Mali',
'Malta',
'Marshall Islands',
'Mauritania',
'Mauritius',
'Mexico',
'Micronesia',
'Moldova',
'Monaco',
'Mongolia',
'Montenegro',
'Morocco',
'Mozambique',
'Myanmar (Burma)',
'Namibia',
'Nauru',
'Netherlands',
'New Zealand',
'Nicaragua',
'Niger',
'Nigeria',
'Norway',
'Oman',
'Pakistan',
'Palau',
'Panama',
'Papua New Guinea',
'Paraguay',
'Peru',
'Philippines',
'Poland',
'Portugal',
'Qatar',
'Romania',
'Russian Federation',
'Rwanda',
'St Kitts & Nevis',
'Saint Vincent & the Grenadines',
'Samoa',
'San Marino',
'Sao Tome & Principe',
'Saudi Arabia',
'Senegal',
'Serbia',
'Seychelles',
'Sierra Leone',
'Singapore',
'Slovakia',
'Slovenia',
'Solomon Islands',
'Somalia',
'South Africa',
'South Sudan',
'Spain',
'Sri Lanka',
'Suriname',
'Swaziland',
'Sweden',
'Switzerland',
'Syria',
'Taiwan',
'Tajikistan',
'Tanzania',
'Thailand',
'Togo',
'Tonga',
'Trinidad & Tobago',
'Tunisia',
'Turkey',
'Turkmenistan',
'Tuvalu',
'Uganda',
'Ukraine',
'United Arab Emirates',
'United Kingdom',
'United States',
'Uruguay',
'Uzbekistan',
'Vanuatu',
'Vatican City',
'Venezuela',
'Vietnam',
'Yemen',
'Zambia',
'Zimbabwe']) %>
  </div>

  <div class="four columns">&nbsp;
    <span style="display:none;visibility:hidden;">
      <label for="email">
        Your email:
      </label>
      <input type="text" name="email" size="10" value="" />
    </span>
  </div>
</div>

<div class="row"><div class="sixteen columns" align="center">
            <%= f.submit 'Share your smile' %>
</div></div>

    <% end %>

<br />

    <div class="row"><div class="sixteen columns"><div class="smiles_counter">
      <p><div class="fa fa-smile-o">&nbsp;</div><%= @smiles.count %> Smiles <div class="fa fa-smile-o"></div></p>
    </div></div></div>

<div id="smiles">
    <% @smiles.each do |smile| %>
        <div class="row">
          <div class="four columns">&nbsp;
          </div>
        <div class="eight columns"><div class="smile">
        <%= smile.smiletext %>
        </div>
        </br >
        <div class="whosmileswhere">
        <%= if (smile.username != "") then smile.username else "Someone" end %>
        smiling
        <%= if (smile.country != "Your country (optional)") then "in " + smile.country else "somewhere" end  %>
        </div></div>
        <div class="four columns">&nbsp;
        </div>

        </div>
    <% end %>
</div>

<div class="row"><div class="sixteen columns" align="center">
    <%= will_paginate @smiles %>
</div>

</div>


<!-- immediately before </body> -->
<script src="/assets/shariff.min.js"></script>
